body{
    background-color: #D9FAEA;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;

}

h1, .h1 {
    font-size: 2.5rem;
    font-family:"Lucida Sans Typewriter";
}

h2, .h2 {
    font-size: 3rem;
    margin-left:0px;
    margin-top : 15px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}

h3, .h3 {
    font-size: 1.75rem;
}

h4, .h4 {
    font-size: 1.5rem;
    margin-left:0px;
    margin-top : 15px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h5, .h5 {
    font-size: 1.25rem;
}

h6, .h6 {
    font-size: 1rem;
}
header{
    background-color: #AFFAD5;
}
p{
    font-family:Roboto;
    margin:25px;
}

a {
    color: #5bbaff;
    text-decoration: none;
    background-color: transparent;
}


.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    background: #AFFAD5;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
a#navbar.navbar{
    color:#0f6674;
}

h1#catchphrase{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" ;
    background-color: #bdbdbd;
    text-align:center;
    padding:15px;

}
nav#navbarfooter{
    margin-left:50px;
    margin-right:50px;
}

footer{
    margin-top:15px;
    color:#AFFAD5;
}
.btn {
    display: inline-block;
    font-weight: 200;
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    margin-top:25px;

    padding:2px;
    font-size: 0.75rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
footer{
    margin-top:45px;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light{
    margin-bottom: 15px;
}

div#caracteristique{
    margin-top: 12px;
    margin-left: 30px;
}

